@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

// Variable Declaration of colors
$beam-blue: #01c4e9;
$beam-green: #e92fac;
$beam-pink: #e0e900;

body {
  font-family: 'Archivo', sans-serif;
  background-color: #f4f0ec;
}

.summary-title {
  font-weight: bolder;
}

// CSS for Summary on Tabs
.summary-starter {
  list-style: none;
  padding: 0;
}

.summary-refill {
  list-style: none;
  padding: 0;
}

// Tabs CSS
.tabs-list {
  list-style: none;
  padding: 0;
}

.click-tab {
  border: 1px solid 	#B0B0B0;
  display: inline-block;
  color: #00b7eb;
  padding: 20px;
  cursor: pointer;
}

// BrushBox CSS

.starter-brushBox ul {
  list-style: none;
  border: .5px solid #979797;
  width: 12em;
  height: 5em;
  list-style: none;
  background: #F9EDE4;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}

.starter-brushBox ul li {
  padding-top: 12px;
}

.brushBox-blue  li::before {
  align-items: center;
  background-color: $beam-blue;
  border-radius: 50%;
  color: $beam-blue;
  content: '+';
  display: inline-flex;
  font-weight: bold;
  height: 16px;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  list-style: none;
}

.brushBox-green li::before {
  align-items: center;
  background-color: $beam-green;
  border-radius: 50%;
  color: $beam-green;
  content: '+';
  display: inline-flex;
  font-weight: bold;
  height: 16px;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  list-style: none;
}

.brushBox-pink li::before {
  align-items: center;
  background-color: $beam-pink;
  border-radius: 50%;
  color: $beam-pink;
  content: '+';
  display: inline-flex;
  font-weight: bold;
  height: 16px;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  list-style: none;
}

// Head Box CSS
.refill-headBox ul {
  border: .5px solid #979797;
  width: 12em;
  height: 5em;
  list-style: none;
  background: #F9EDE4;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}

.refill-headBox ul li {
  padding-top: 12px;
}

.headBox-blue li::before {
  align-items: center;
  background-color: $beam-blue;
  border-radius: 50%;
  color: $beam-blue;
  content: '+';
  display: inline-flex;
  font-weight: bold;
  height: 16px;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
}

.headBox-green li::before {
  align-items: center;
  background-color: $beam-green;
  border-radius: 50%;
  color: $beam-green;
  content: '+';
  display: inline-flex;
  font-weight: bold;
  height: 16px;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
}

.headBox-pink li::before {
  align-items: center;
  background-color: $beam-pink;
  border-radius: 50%;
  color: $beam-pink;
  content: '+';
  display: inline-flex;
  font-weight: bold;
  height: 16px;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
}

